<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAC5hgaDqXW0etElfxNS1BBgAAAAACAAAAAAADZgAAwAAAABAAAAApIZW1e33XYTDfb/O3yGWxAAAAAASAAACgAAAAEAAAAI5bgpfuSlIGLRYuei7RDKgoAAAAwBLCsLD5QeLnktzYzHHtuM/r0E5HDnbe1DGef2YpN/Y1gWXXzTiQ2hQAAABl5sDf3gvi88F8nJXOUDSCjChBEA==" />
    <add key="https://nuget.smbsrc.net/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAC5hgaDqXW0etElfxNS1BBgAAAAACAAAAAAADZgAAwAAAABAAAABW2BKnSW3oUstDiukKQmE7AAAAAASAAACgAAAAEAAAAGZ8q9c4gB0fsZ+BQAFBG9koAAAAQdrAxMs/1zLoDA3n07TaLki9sgSv+rwf5zHbGuWvnLKpTdqgqDKAVhQAAAAlnoH2NyhbYokbRSfxrcHVSbJ8hQ==" />
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org" />
  </packageSources>
</configuration>